$prise-primary-light       : #b596db;
$prise-primary-dark        : #8654C3;
$prise-primary-darkness    : #531f92;
$prise-secondary-light     : #ddc49c;
$prise-secondary-dark      : #B9A37F;
$prise-gold-light          : #b8ab35;
$prise-gold-dark           : #c9ba2f;
$prise-dark                : #0f0f0f;