<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-BR">

<head>
  <link rel="stylesheet" href="/arquivos/Category.css" />
</head>

<body>

  <main id="mnContent" role="main">

    
    <div id="vue-clusterId" class="cluster-id">
      <vtex:contentPlaceHolder id="Numero-Colecao Obrigatório!" />
    </div>

    <section id="vue-category" class="category-container container">
      <vtex.cmc:searchNavigator />
      <div id="vue-nav-box" class="nav-box"></div>
      <div id="vue-sort-box" class="sort-nav"></div>
      <div id="vue-shelfs" class="shelfs"></div>
    </section>
    <i class="shelf__observer" id="vueObserver"></i>

  </main>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script defer="true" src="/arquivos/vue-category.js"></script>

</body>

</html>