.trees__figure{  
  
  //<- -------------------- Cabelos ------------------ ->
  // Cabelos
  [title="Cabelos"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/169721-100-100/Pack-Siage.jpg');
  }

  [title*="Leave-in"]{
    background-image: url('http://edbr.vteximg.com.br/arquivos/ids/159572-100-100/Creme_de_Pentear_Siage_Revela_os_Cachos_500g_819037.jpg');
  }
  [title*="Kit para Cabelos"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/161027-100-100/Kit_Siage_Nutri_Diamond_170420181.jpg');
  }
  [title*="M\00E1scara de Tratamento"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/161393-100-100/Siage_Expert_Mascara_Capilar_Regeneracao_Extrema_Tratamento_Intenso_250g_820607.jpg');
  }
  [title="Shampoo"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/160906-100-100/Pre_Shampoo_Siage_Nutri_Diamond_200ml_819787.jpg');
  }
  [title*="Tratamentos Es"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/168921-100-100/91470.jpg');
  }
  [title*="Condicionador"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/169693-100-100/92380.jpg');
  }
  [title*="Finalizador"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/160908-100-100/Oleo_Nutritivo_Siage_Nutri_Diamond_110ml_819789.jpg');
  }
  [title*="Condicionador"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/169693-100-100/92380.jpg');
  }
  [title="Linhas"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/161410-100-100/Kit_Siage_Expert_Regeneracao_Extrema_Completo_Superdose_Reparacao_Intensa_190620180130.jpg');
  }

  //<- -------------------- Acessórios ------------------ ->
  // Acessórios
  [title="Acess\00F3rios"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/164428-100-100/822729.jpg');
  }
  [title="Necessaire e Organizadores"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/168922-100-100/91847.jpg');
  }
  [title="Outros"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/168631-100-100/91863.jpg');
  }
  [title="Embalagens para Presentes"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/161589-100-100/eud-pais-caixa.jpg');
  }

  //<- -------------------- Brinde ------------------ ->
  // Brinde
  [title*="Brinde"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/156233-100-100/porta-joias-eudora_1_810646.jpg');
  }

  //<- -------------------- Corpo e Banho ------------------ ->
  // Corpo e Banho
  [title="Corpo e Banho"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/168557-100-100/sedissima.jpg');
  }
  [title*="Acess\00F3rios Corpo e Banho"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/162311-100-100/Esponja_Lavanda_821709.jpg');
  }
  [title="Hidratante Corporal"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/160685-100-100/Creme_Acetinado_Hidratante_Desodorante_La_Victorie_1_820041.jpg');
  }
  [title*="\00D3leo corporal"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/160380-100-100/Oleo_Corporal_Elegant_Cashmere_819528.jpg');
  }
  [title*="Sabonete em"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/165934-100-100/91391.jpg');
  }
  [title*="Sabonete L"],[title="Sabonete"]{
    background-image: url('http://edbr.vteximg.com.br/arquivos/ids/161685-100-100/Kit_Sensual_Velvet_Sabonete_Liquido_Refil_2016041127.jpg');
  }
  [title="Tratamento Corporal"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/161962-100-100/Neo_Lipo_Redutor_Esfoliante_Corporal_150g_821277.jpg');
  }
  [title*="Mousse"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/157459-100-100/29598-Eudora-Mousse-de-Banho-150g.jpg');
  }
  [title*="Esfoliante Corporal"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/157627-100-100/oleo-de-banho-esfoliante-eudora-prelude-s_1_810296.jpg');
  }
  [title*="Shower Gel"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/156206-100-100/Sabonete-Liquido-Eudora-Trip-Shower-Gel-2-em-1_1_809512.jpg');
  }

  //<- -------------------- Kits ------------------ ->
  // Kits
  [title="Kits"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/167263-100-100/91809-KIT-COM-NECESSAIRE-02.jpg');
  }

  //<- -------------------- Rosto ------------------ ->
  
  [title*="Cuidados D"]{
    background-image: url('http://edbr.vteximg.com.br/arquivos/ids/164986-100-100/Kit-Pele-Perfeita-Neo-Dermo-Etage-2019060803.jpg');
  }
  [title="Anti-idade"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/169511-100-100/7891033925780.jpg');
  }
  [title="Limpeza"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/157577-100-100/Neo-Essens-Sabonete-em-Barra-Pele-com-Cravos-e-Espinhas_caixa.jpg');
  }
  [title*="Protetor Solar"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/162631-100-100/Kit_Bronze_Splendor_Protetor_Solar_Facial_FPS_50_Corporal_FPS_30_2018121501.jpg');
  }
  [title*="Hidratação"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/159411-100-100/Neo_Dermo_Etage_Total_Regenerate_818756.jpg');
  }
  [title="Anti acne"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/159143-100-100/ED_ROSTO_CUIDADOS_CF08_2017_STILL_17610.jpg');
  }
  
  //<- -------------------- Perfumaria ------------------ ->
  //Perfumaria
  [title="Perfumaria"]{
    background-image: url('http://edbr.vteximg.com.br/arquivos/ids/160111-100-100/EUDORA-KISS-ME-CABERNET-DEO-COL-50-ML-819217.jpg');
  }
  [title*="Perfumaria Feminina"]{
    background-image: url('http://edbr.vteximg.com.br/arquivos/ids/159150-100-100/70716_eau_de_parfum.jpg');
  }
  [title*="Perfumaria Masculina"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/161120-100-100/Deo_Colonia_Eudora_H_100ml_820318_1.jpg');
  }
  [title*="Desodorante"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/160359-100-100/Desodorante_Antitranspirante_Aerosol_Velvet_Cristal_819510.jpg');
  }

  // Maquiagem
  [title="Maquiagem"]{
    background-image: url('http://edbr.vteximg.com.br/arquivos/ids/169399-100-100/Combo-Carnaval-Bem-Blogueirinha.jpg');
  }
  [title*="Pinc"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/169912-100-100/92851.jpg');
  }
  [title*="Paletas"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/category-paletas.png');
  }
  [title*="Boca"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/trees-thumbs.png');
  }
  [title*="Olhos"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/category-olhos.png');
  }
  [title*="Rosto"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/164192-100-100/Glam_Base_Velvet_Matte_Mousse_3_em_1_Bege_25g_822485.jpg');
  }
  [title*="Unhas"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/160998-100-100/Esmalte_Gel_Ultra_Brilho_Taupe_Exclusivo_11ml_820252_3.jpg');
  }

  //<- -------------------- Homens ------------------ ->
  [title="Homens"]{
    background-image: url('http://edbr.vteximg.com.br/arquivos/ids/161543-100-100/Estojo_Eudora_H_para_Viagem_820717.jpg');
  }
  [title="Cuidado Facial"]{
    background-image: url('http://edbr.vteximg.com.br/arquivos/ids/157361-225-225/eudora-H-hidratante-facial-10-em-1.jpg');
  }
  [title="Hidratante"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/157812-100-100/Eudora-H-Hidr-Desod-Corporal.jpg');
  }
  [title$="Barba"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/155777-100-100/club-6-balm-pos-barba-eudora_1_808332.jpg');
  }
  [title="Produtos para Corpo e Banho"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/161131-100-100/Shampoo_Gel_Cabelo_e_Corpo_Carbon_Cromo_200ml_820331.jpg');
  }
  [title="Masculinos"]{
    background-image: url('https://edbr.vteximg.com.br/arquivos/ids/161121-100-100/Estojo_Club_6_VIP_Especial_820319.jpg');
  }
}