:root {
    --ui-selection: #ded4f1;
    // --ui-gold: #B9A37F;
    --ui-gold: #B69969;
    --ui-gold-active: #bd9969;
    --ui-gold-disable: #baa787;
    --ui-light: #ffffff;
    --ui-light-border: #e6e0e0;
    --ui-light-bordera: #EbEbEb;
    --ui-light-borderb: #E5E5E5;
    --ui-light-bg: #F5F5F5;
    --ui-light-font: #979899;
    --ui-middle: #dcdcdc;
    --ui-dark: #111111;
    --ui-dark-middle: #484747;
    --ui-brand: #753BBD;
    --ui-brand-dark: #5e2f97;
    --ui-sucess: #3bbd75;
    --ui-complete: #3bb1bd;
    --ui-error: #ba2835;
    --ui-discount: #cf333a;
    --ui-brand-font: 'Open Sans', sans-serif;
    --ui-icon-font: 'Doricon'
}