<section class="prise js--prise">

    <section class="prise__text prise__text--show js--prise-item"
     data-limit="1"
     >
        <div class="prise__text-content">
          Compras acima de R$109 ganhe frete grátis + brinde
        </div>
        <div class="prise__track js--prise-track"></div>
    </section>

    <section class="prise__text js--prise-item" 
      data-limit="10900" 
      data-cupom="" 
      >
      <div class="prise__text-content">
        com mais&nbsp;<span class="prise__remain">0</span>&nbsp;ganhe frete grátis + brinde!
      </div>
      <div class="prise__track js--prise-track"></div>
    </section>

    <section class="prise__text js--prise-item" 
      data-limit="13000" 
      data-cupom="Frete Gr&#225;tis / Brinde" 
      >
      <div class="prise__text-content">
        com mais&nbsp;<span class="prise__remain">0</span>&nbsp;ganhe R$ 20,00 em desconto
      </div>
      <div class="prise__track js--prise-track"></div>
    </section>

    <section class="prise__text js--prise-item" 
      data-limit="15000" 
      data-cupom="Frete Gr&#225;tis / Brinde / R$ 20,00" 
      >
      <div class="prise__text-content">
        com mais&nbsp;<span class="prise__remain">0</span>&nbsp;ganhe R$ 30,00 em desconto
      </div>
      <div class="prise__track js--prise-track"></div>
    </section>

    <section class="prise__text js--prise-item" 
      data-limit="17000" 
      data-cupom="Frete Gr&#225;tis / Brinde / R$ 30,00" 
      >
      <div class="prise__text-content">
        com mais&nbsp;<span class="prise__remain">0</span>&nbsp;ganhe R$ 40,00 em desconto
      </div>
      <div class="prise__track js--prise-track"></div>
    </section>

    <section class="prise__text js--prise-end"
      data-limit="99999999"
      data-cupom="Frete Gr&#225;tis / Brinde / R$ 40,00"
      >
      <div class="prise__text-content prise__text-content--complete">
       Você Ganhou Frete Grátis + Brinde + R$ 40,00
      </div> 
      <div class="prise__track prise__track--complete js--prise-track"></div>
    </section>

</section>