<section class="roulette js--roulette-close">
  <div class="roulette-wrap">
    <div class="roulette-close js--roulette-close">&#10005;</div>
 
    <article class="roulette__left">
      <h3 class="roulette__title">Semana do Cliente <br>Eudora</h3>
      <p class="roulette__paragraph">No Dia do Cliente a Eudora preparou uma semana de promoções e descontos para você!<br>
      E tem mais! Quer ganhar um presente especial? Basta girar a roleta e boa sorte!
        </p>
      <button class="roulette__button js--roulette-control">Girar a Roleta</button>
    </article>
    
    <aside class="roulette__right js--roulette-right">
      <section class="roulette__game js--roulette-game">
        <div class="roulette__disc">
      
        </div>
        <div class="roulette__needle js--roulette-needle"></div>
      </section>
      
      <section class="roulette__prise js--roulette-prise" >
        
        <div class="roulette__prise-item js--roulette-prise-bonus">

        </div>
        <div class="roulette__prise-text">Não esqueça de usar o código abaixo no carrinho de compras!</div>
        <div class="roulette__prise-cupom-wrap">
          <input type="text" value=""  class="roulette__prise-cupom js--roulette-cupom" readonly></input>
          <button class="roulette__prise-copy js--roulette-copy">copiar</button>
        </div>
      </section>
    </aside>
  </div>
</section>
