
$bag-color-primary: $color-primary;
$bag-color-primary-dark: $color-primary-dark;
$bag-color-dark: #212121;
$bag-color-secondary: $color-secondary;
$bag-color-secondary-light : $color-secondary-light;