%gradient-line {
  width: 100%;
  background: white linear-gradient(to right, $bag-color-secondary, white) center/ 100% 1px no-repeat;
}

%bag-cta {
  cursor: pointer;
  font-size: calc(13em/16);
  text-transform: uppercase;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid bg-color-dark;
  transition: all 0.2s ease;
  border-radius: 20px;
  flex: 1 0;
  min-width: auto;
  margin: 5px;
  flex-basis: auto;
      &:hover {
        font-weight: bolder;
      }
}

%totals{
      display: flex;
      justify-content: space-around;
      width: 100%;
}