/* 
  Brand  Colors 
*/

$color-primary          : #753bbd;
$color-primary-dark     : #542785;
$color-primary-light    : #8c71af;
$color-secondary        : #b69969;
$color-secondary-light  : #bd9969;

/* 
  Colors
*/
$color-ice           : #F5F5F5;
$color-silver        : #e7e7e7;
$color-dark-middle   : #484747;
$color-grey          : #aaaaaa;
$color-grey-dark     : #807f7f;
$color-grey-light    : #fbfbfb;
$color-grey-medium   : #f0f0f0;

/*
  Social Media Colors
 */
 $color-facebook  : #526cac !default;
 $color-google    : #d34b37 !default;
 $color-instagram : #b59174 !default;
 $color-linkedin  : #0286be !default;
 $color-rss       : #f9a600 !default;
 $color-twitter   : #1ebaec !default;
 $color-youtube   : #c42232 !default;