%font-flex{
  
    @media screen and (min-width: 100px) and (max-width: 320px){
      font-size: 0.7rem;
    }
    @media screen and (min-width: 321px) and (max-width: 360px){
      font-size: 0.8rem;
    }
    @media screen and (min-width: 361px) and (max-width: 400px){
      font-size: 0.9rem;
    }
    @media screen and (min-width: 401px) and (max-width: 540px){
      font-size: 1rem;
    }
    @media screen and (min-width: 541px) and (max-width: 640px){
      font-size: 1.1rem;
    }
    @media screen and (min-width: 641px) and (max-width: 720px) {
      font-size: 1.2rem;
    }
    @media screen and (min-width: 721px)  and (max-width: 768px) {
      font-size: 1.3rem;
    }
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      font-size: 0.6rem;
    }
    @media screen and (min-width: 1025px) and (max-width: 1279px) {
      font-size: 0.7rem;
    }
    @media screen and (min-width: 1280px) and (max-width: 1440px) {
      font-size: 0.8rem;
    }
    @media screen and (min-width: 1441px) and (max-width: 1680px) {
      font-size: 0.9rem;
    }
    @media screen and (min-width: 1681px) and (max-width: 1920px) {
      font-size: 1rem;
    }
    @media screen and (min-width: 1921px) and (max-width: 2160px) {
      font-size: 1.1rem;
    }
    @media screen and (min-width: 2161px) {
      font-size: 1.2rem;
    }
}
 