@font-face {
    font-family: "Doricon";
    src: url("https://edbr.vteximg.com.br/arquivos/Doricon.eot.css");
    src: url("https://edbr.vteximg.com.br/arquivos/Doricon.eot.css?#iefix") format("embedded-opentype"),
         url("https://edbr.vteximg.com.br/arquivos/Doricon.otf.css") format("opentype"),
         url("https://edbr.vteximg.com.br/arquivos/Doricon.svg.css") format("svg"),
         url("https://edbr.vteximg.com.br/arquivos/Doricon.ttf.css") format("truetype"),
         url("https://edbr.vteximg.com.br/arquivos/Doricon.woff.css") format("woff"),
         url("https://edbr.vteximg.com.br/arquivos/Doricon.woff2.css") format("woff2");
    font-weight: normal;
    font-style: normal;
}