.trees {
  @extend %filters-box;
  @include device(desktop){
    flex-basis:auto;
    max-width: 50%;
    min-width: 25%;
    z-index: 3;
    &--cluster{
      margin: auto;
      justify-content: center;
      width: 100% !important;
      max-width: 95% !important;
    }
  }

  &__title {
    @extend %filters-title;
    @include device(mobile){
      width: 100%;
      @include filter-nav-title;
    }
  }

  &__box {
    @extend %filters-selectors;

    @include device(desktop){
      &--cluster{
        justify-content: center; 
      }
      &::before{
        content: "";
        display: block;
        position: absolute;
        box-shadow: 10px 0 15px 3px #fff;
        height: 75%;
        left: 0;
      }
    
      &::after{
        content: "";
        display: block;
        position: absolute;
        box-shadow: -10px 0 15px 5px #fff;
        height: 75%;
        right: 0;
      }
    }
  }
  
.trees__box-resize{
  justify-content: center;
}
  .trees__branch {
    text-align: center;
    height: auto;
    margin: .3em;
    @include device(desktop){
      margin: 1em  auto; 
      max-width: 13%;
      min-width: 14%;
      position: relative;
      &--cluster{
        margin: 1em;    
      }
    }
  }

  .trees__branch-category{
    display: flex;
    overflow: hidden;
    >label{
      z-index: 2;
      box-shadow: 1px 0 0.5em 0.5em #fff;
    }
  }
  .trees__resize{
    min-width: initial;
    max-width: initial;
    width: 100%;
    margin: 1em 0 0 1em;
    position: initial;
    display: flex;
    &-2{
      max-width: initial;
    }
    >label{
      flex-shrink: 0;
      max-width: 75%;
    }
  }
  
  &__label {
    &--active .trees__figure {
        box-shadow: 0 0 0.8em $filter-brand;
        border-color: $filter-brand;
      }
      &-title {
        margin-top: 0.3em;
        font-size: calc(12rem/16);
        width: auto;
      }
      @include device(desktop){
        cursor: pointer;
        margin: auto;
        width: 100%;
        &--hover .trees__figure {
          box-shadow: 0 0 0.5em $filter-hover-dark;
          border-color: #777;
        }
      }
    }
    &__figure {
      margin: auto;
      border-radius: 50%;
      padding: 2px;
      border: 2px solid $filter-silver;
      box-sizing: border-box;
      
      width: 60px;
      height: 60px;

      @media (min-width:1701px){
        width: 100px;
        height: 100px;
      }
        @media (max-width:1700px){
        width: 80px;
        height: 80px;
      }
        @media (max-width:1500px){
        width: 75px;
        height: 75px;
      }
        @media (max-width:1280px){
        width: 60px;
        height: 60px;
      }
        @media (max-width:1080px){
        width: 50px;
        height: 50px;
      }
        @media (max-width:900px){
          width: 45px;
          height: 45px;
      }
      @media (max-width:680px){
        width: 110px;
        height: 110px;
        }
        @media (max-width:560px){
        width: 100px;
        height: 100px;
        }
        @media (max-width:460px){
        width: 90px;
        height: 90px;
        }
        @media (max-width:400px){
        width: 80px;
        height: 80px;
        }
        @media (max-width:360px){
        width: 70px;
        height: 70px;
        }
        @media (max-width:340px){
          width: 65px;
          height: 65px;
        }
    }
  
    &__img {
      display:  inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      vertical-align: middle;
    }
  }

.trees__sub-box {
  text-align: center;
  z-index: 100;
  @include device(mobile){
    z-index: 2;
    display: flex;
    overflow-x: auto;
    height: 100%;
    padding-left: 1em;
    > label{
      white-space: nowrap;
    }
  }
}

.trees__sub-slide{
  position: absolute;
  width: 150%;
  height: auto;
  margin: auto ;
  background-color: white;
  margin-top: 0.5em;
  transform: translateX(-15%);
  .trees__sub-label{
    display: block;
    width: fit-content;
    white-space: nowrap;
  }
}

.trees__sub-side {
  // margin: auto 1em auto 1em;
  display: flex;
  align-self: center;
  text-align: center;
  display: flex;
  overflow-x: auto;
  height: 100%;
  z-index: 1;
  padding-left: 1em;
  padding-right: 1em;
  scroll-behavior: smooth;
  @extend %scroll-bar;
  > label{
    height: auto;
    margin: auto .3em auto .3em;
    white-space: nowrap;
  }
}

.trees__sub-under {
  display: flex;
  justify-content: space-around;
  margin: 1em auto 0 ;
  width: 100%;
}

.trees__sub-label {
  @include device(mobile){
    font-size: calc(14rem/16);
    display: flex;
    margin:  0 auto 0.2em auto;
    padding: 0.3em 1em;
    border-radius: 25px;
    background-color: white;
    align-self: center;
    height: auto;
    justify-self: center;
    line-height: 1.5;
  }
  @include device(desktop){
    font-size: calc(12rem/16);
    display: flex;
    margin:  0 auto 0.2em auto;
    align-items: center;
    padding: 0 1em;
    border-radius: 25px;
    cursor: pointer;
    z-index: 2;
    background-color: white;
  }
    &:hover {
      box-shadow: 0 0 0.5em $filter-hover-dark;
    }

  &--active {
    box-shadow: 0 0 .2em $filter-brand;
    border-color: $filter-brand;
    color: snow;
    background-color: $filter-brand;
  }
}
  .trees__overflow{
    overflow-x: auto;
    @extend %scroll-bar;
    .trees__label{
      z-index: 3;
      box-shadow: 1px 0 0.5em 0.3em #fff;
      width: auto;
      margin: 0;
      padding: 0;
      flex-shrink: 3 !important;
    }
  } 
 .busca .trees__branch,.colecao .trees__branch{
  @include device(desktop){
    min-width: 10%;
  }
 }